{% extends 'base.html' %}

{% block title %}Order №{{ order_id }}{% endblock %}

{% block content %}
{% for item in order %}
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>
<p>{{ item.price }} <span>{{ item.currency.upper }}</span></p>
{% endfor %}
<button id="buy-button">Buy</button>
{% endblock %}

{% block script %}
<script type="text/javascript">
  const stripe = Stripe('{{ stripe_pub_key }}')
  const buyButton = document.getElementById('buy-button')

  buyButton.addEventListener('click', function() {
    fetch('{% url 'payment:buy' order_id %}?' + new URLSearchParams({
        order: true
    }), {method: 'GET'})
    .then(response => response.json())
    .then(session => {
        stripe.redirectToCheckout({ sessionId: session.id })
    }
  )
  })
</script>
{% endblock %}